<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles_index.css">
</head>
<body>

<div id="top-buttons-container">
    <a href="/handle_button_press/steg1" target="_blank">Steg 1</a>
    <a href="/handle_button_press/steg2" target="_blank">Steg 2</a>
    <a href="/handle_button_press/steg3" target="_blank">Steg 3</a>
    <a href="/handle_button_press/steg4" target="_blank">Steg 4</a>
    <a href="/handle_button_press/steg5" target="_blank">Steg 5</a>
</div>

<form id="text-area-container" action="/" method="post">
    <textarea name="text-area" id="text-area"></textarea>
    <input type="submit" value="Skicka" id="form-button">
</form>

</body>
</html>