<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/steps.css">
</head>
<body>
<div>
    <h1>Steg 5</h1>
    <p>Följa upp och utvärdera funktion och nytta</p>
    <h2>Rubriker</h2>
    <h3>Typ av kontakt</h3>
    <h3>Syfte med kontakt</h3>
    <h3>Deltagare</h3>
    <h3>Resultat</h3>
    <h4>Följa upp om hjälpmedlet underlättar patientens aktivitet och delaktighet</h4>
    <h4>Utvärdera att uppsatta mål har nåtts</h4>
    <h4>Kontrollera att patienten vet hur hjälpmedlet ska användas.</h4>
    <h4>I samråd med patienten, och eventuellt närstående, ta ställning till nya eller kompletterande åtgärder</h4>
    <h4>Ta ställning till om ärendet kan avslutas.</h4>
    <h4>Informera om vart och till vem patienten eller närstående ska vända sig om förutsättningarna förändras</h4>
</div>

</body>
</html>