<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/steps.css">
</head>
<body>
<div>
    <h1>Steg 2</h1>
    <p>Specialanpassa vid behov – initiera och utfärda anvisning</p>
    <h2>Rubriker</h2>
    <h3>Typ av kontakt</h3>
    <h3>Syfte med kontakt</h3>
    <h3>Deltagare</h3>
    <h3>Resultat</h3>
    <h4>Undersöka om alternativa hjälpmedel finns</h4>
    <h4>Utfärda anvisning för specialanpassning enligt lokala rutiner</h4>
    <h4>Godkänna specialanpassningen innan patienten börjar använda hjälpmedlet</h4>
</div>

</body>
</html>