<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/steps.css">
</head>
<body>
<h1>Steg 4</h1>
<p>Instruera och träna</p>
<h2>Rubriker</h2>
<h3>Typ av kontakt</h3>
<h3>Syfte med kontakt</h3>
<h3>Deltagare</h3>
<h3>Resultat</h3>
<h4>Instruera hur hjälpmedlet ska användas</h4>
<h4>Träna patienten eller en annan användare i att använda hjälpmedlet</h4>
<h4>Välja en individuellt anpassad metod för träning.</h4>
<h4>Gå igenom bruksanvisningen med patienten eller en annan användare</h4>
</body>
</html>