<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/steps.css">
</head>
<body>
<div>
    <h1>Steg 1</h1>
    <p>Prova ut, anpassa och välja lämplig specifik produkt</p>
    <h2>Rubriker</h2>
    <h3>Typ av kontakt</h3>
    <h3>Syfte med kontakt</h3>
    <h3>Deltagare</h3>
    <h3>Resultat</h3>
    <h4>Samla relevanta bakgrundsfakta om funktionstillstånd och omgivningsfaktorer</h4>
    <h4>Informera patienten om olika alternativa hjälpmedel</h4>
    <h4>Prova olika modeller av hjälpmedel</h4>
    <h4>Samordna med tidigare förskrivna hjälpmedel</h4>
    <h4>Riskbedömning</h4>
    <h4>Konsultation</h4>
    <h4>I samråd med patienten välja lämplig specifik produkt</h4>
</div>


</body>
</html>