<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steg 3</title>
    <link rel="stylesheet" href="../static/steps.css">
</head>
<body>
<div>
    <h1>Steg 3</h1>
    <p>Informera</p>
    <h2>Rubriker</h2>
    <h3>Typ av kontakt</h3>
    <h3>Syfte med kontakt</h3>
    <h3>Deltagare</h3>
    <h3>Resultat</h3>
    <h4>Ge muntlig och skriftlig information om hur hjälpmedlet fungerar och ska användas</h4>
    <h4>Lämna bruksanvisning till hjälpmedlet</h4>
    <h4>Ge patienten en situationsanpassad bruksanvisning vid behov</h4>
    <h4>Informera om funktioner som är viktiga att kontrollera för säkerheten</h4>
    <h4>Informera om vart man vänder sig vid behov av underhåll eller vid förändrade behov</h4>
    <h4>Informera om eventuellt krav på försäkringsskydd eller om situationer då patienten kan bli
        ersättningsskyldig</h4>
</div>

</body>
</html>